{% extends './base.html' %}

{% block title %}Inisio de Sesión {% endblock %}

{% block CustomCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock%}

{% block body%}

<form class="form-signin text-center">
    <img class="mb-4" src="{{url_for('static', filename='images/login.png')}}" alt="" width="122" height="122">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail">Correo Electrónico</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputPassword" class="mt-2">Constraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</form>

{% endblock %}