{% extends './body.html' %}

{% block title %} Index {% endblock %}

{% block CustomCSS %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/carousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/categories.css')}}">
{% endblock %}

{% block container %}


<!-- Corregir el carousel (imagenes)-->
{% include './components/carousel.html' %}
{% include './components/categories.html'%}



{% endblock %}

{% block CustomJS %}
    <script src="{{url_for('static', filename='js/carousel.js')}}"></script>
{% endblock %}